.title {
  font-size: 1rem;

  @container (max-width: 380px) {
    font-size: 1rem;
  }
}

.text {
  font-size: 1rem;

  @container (max-width: 380px) {
    font-size: 0.9rem;
  }
}

.textSmall {
  font-size: 0.9rem;

  @container (max-width: 300px) {
    font-size: 0.8rem;
  }
}
