.root {
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-4)
  );

  &:hover {
    outline: 1px solid var(--mantine-primary-color-filled);
  }
}

.text {
  font-size: 0.9rem;

  @container (max-width: 380px) {
    font-size: 0.8rem;
  }
}
