.title {
  @container (max-width: 340px) {
    font-size: var(--mantine-font-size-sm);
  }
}

.value {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--base-color-text-primary);
  word-break: break-word;
}
