.burger {
  align-self: flex-end;
  &:hover {
    background-color: var(--elevated-color-input-background);
  }
}

.link {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-sm);
  height: 50px;
  border-radius: var(--mantine-radius-md);
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));

  &:hover {
    background-color: var(--elevated-color-input-background);
  }

  &[data-active] {
    &,
    &:hover {
      background-color: light-dark(
        var(--mantine-primary-color-5),
        var(--mantine-primary-color-8)
      );
    }
  }
}
