.burger {
  align-self: flex-end;
  &:hover {
    background-color: var(--elevated-color-input-background);
  }
}

.link {
  border-radius: var(--mantine-radius-md);
  &:hover {
    background-color: var(--elevated-color-input-background);
  }

  &[data-active] {
    &,
    &:hover {
      background-color: light-dark(
        var(--mantine-primary-color-5),
        var(--mantine-primary-color-8)
      );
    }
  }
}
