.dropdown {
  background-color: var(--background-color-surface);
  border-color: var(--surface-color-input-border);
  border-width: 1px;
  font-weight: 600;
}

.search {
  background-color: var(--background-color-base);
}
