.root {
  background-color: var(--background-color-surface);
  border-color: var(--surface-color-border);
}

.textPrimary {
  color: var(--surface-color-text-primary);
}

.textDimmed {
  color: var(--surface-color-text-dimmed);
}
