.root {
  background-color: var(--background-color-surface);
  border-color: var(--surface-color-border);
}

.input {
  background-color: var(--surface-color-input-background);
  border-color: var(--surface-color-input-border);
}

.input::placeholder {
  color: var(--surface-color-text-dimmed);
}

.accordion {
  background-color: var(--background-color-surface);
  border-color: var(--surface-color-border);
  border-radius: 8px;
}

.textPrimary {
  color: var(--surface-color-text-primary);
}

.textDimmed {
  color: var(--surface-color-text-dimmed);
}
