name: Build Docker Images
permissions:
  contents: read

on:
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        service:
          - name: client
            dockerfile: ./client
            image: ghcr.io/teelur/budget-board/client
          - name: server
            dockerfile: ./server
            image: ghcr.io/teelur/budget-board/server
        platform:
          - linux/amd64
          - linux/arm64
    uses: ./.github/workflows/reusable-docker-build.yml
    with:
      service_name: ${{ matrix.service.name }}
      dockerfile: ${{ matrix.service.dockerfile }}
      image: ${{ matrix.service.image }}
      platform: ${{ matrix.platform }}
      push: false
      check_paths: true
      job_index: ${{ strategy.job-index }}
    secrets:
      GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
