name: Run Dotnet Unit Tests

permissions:
  contents: read

on:
  pull_request:

jobs:
  test-dotnet:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Install dependencies
        working-directory: ./server
        run: dotnet restore

      - name: Build
        working-directory: ./server
        run: dotnet build --no-restore

      - name: Test with the dotnet CLI
        working-directory: ./server
        run: dotnet test --no-build
